@font-face {
    font-family: "Clear Sans";
    src: url("fonts/ClearSans-Light-webfont.eot");
    src: url("fonts/ClearSans-Light-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/ClearSans-Light-webfont.svg#clear_sans_lightregular") format("svg"),
         url("fonts/ClearSans-Light-webfont.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Clear Sans";
    src: url("fonts/ClearSans-Regular-webfont.eot");
    src: url("fonts/ClearSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/ClearSans-Regular-webfont.svg#clear_sansregular") format("svg"),
         url("fonts/ClearSans-Regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Clear Sans";
    src: url("fonts/ClearSans-Bold-webfont.eot");
    src: url("fonts/ClearSans-Bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/ClearSans-Bold-webfont.svg#clear_sansbold") format("svg"),
         url("fonts/ClearSans-Bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
@import url(fonts.css);

html, body {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px; 
}

body {
  margin: 80px 0;
}

.container {
  width: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.65; 
}

a {
  color: #776e65;
  font-weight: bold;
  text-decoration: underline;
}

hr {
  border: none;
  border-bottom: 1px solid #d8d4d0;
  margin-top: 20px;
  margin-bottom: 30px;
}

.variants-list {
  margin-top: 40px;
  padding: 15px;
  background: #bbada0;
  border-radius: 6px;
}

.variant {
  list-style: none;
  margin-bottom: 15px;
  padding: 15px;
  background: #00ffff;
	box-shadow: 0 0 30px 10px rgba(255, 50, 50, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
}

.variant:last-child {
    margin-bottom: 0;
}

.variant:nth-child(2n+1) {
  background: #ff0000;
	box-shadow: 0 0 30px 10px rgba(50, 255, 50, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
}

.variant.original {
  color: #f9f6f2;
  background: #edc22e;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
}

.variant.original a {
  color: #f9f6f2;
}

.contributing {
    margin-top: 50px;
}

@media screen and (max-width: 640px) {
  html, body {
    font-size: 15px; 
  }

  body {
    margin: 20px 0;
    padding: 0 20px; 
  }

  h1 {
    font-size: 27px;
    margin-top: 15px; 
  }

  .container {
    width: 280px;
    margin: 0 auto; 
  }

  .variants-list {
    padding: 10px;
  }

  .variant {
    margin-bottom: 10px;
    padding: 10px;
  }
}
